[package]
org = "ballerina"
name = "sql"
version = "@toml.version@"

[[platform.java11.dependency]]
path = "../native/build/libs/sql-native-@project.version@.jar"

[[platform.java11.dependency]]
path = "../sql-test-utils/build/libs/sql-test-utils-@project.version@.jar"
scope = "testOnly"

[[platform.java11.dependency]]
path = "./lib/HikariCP-3.3.1.jar"

[[platform.java11.dependency]]
path = "./lib/hsqldb-2.5.1.jar"
scope = "testOnly"
